<h1>The Rock, The Paper & The Scissor!!</h1>
<h2>This is going to be EPIC!!!</h2>
<p>So the rules to the game are simple:
<ol>
 <li> The Rock smashes The Scissor</li>
  <li>The Scissor slices The Paper</li>
  <li>and finally......The Paper smothers the Rock</li>
  <li>If you are feeling brave: click <a href='/play'>play</a> and let the adventure begin!</li>
</ol>
</p>
