<h1>This is super exciting news......</h1>

<h2 class='winner'><%= @game_result %> - CONGRATULAIONS</h2>
<br>
<p>Do you want to go again (of course you do!!), click <a href='/play'>play</a> and start the fun all over again!!</p>
<br>
<div class="cartoon">
<img src="images/RockPaperScissor.png" alt="rock paper scissor cartoon">
</div>
